<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Users</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.js">
</script>
<style>
  
table{
	border-spacing: 0px;
	width: 100%;
}thead{
  background-color: rgb(33, 36, 82);
  color: aliceblue;
}
.table td, .table th{
	padding: .75em;
	vertical-align: top;
	text-align: center;
	border-top: 1px blue;
  font-size: large;
}
</style>
<body>
  <table id="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Work</th>
      </tr>
    </thead>
    <% for(var i = 0;i < users.length;i++){%>
      <tr>
          <td><%= users[i].users%></td>
          <td><%= users[i].Email%></td>
          <td><%= users[i].Age%></td>
          <th><%= users[i].Gender%></td>
          <td><%= users[i].Work%></td>
      </tr> 
      <%}%>
  </table>
</body>
<script src="./crud.js"></script>
</html>